.code {
	color: #4444aa;
	background-color: #ffffff;
	font-size: 100%;
	font-family : Consolas, Menlo, Monaco, monospace !important;
}
.output {
	color: #44aa44;
	background-color: #f8f8f8;
	font-family : monospace !important;
	font-size: 100%;
	font-family : Consolas, Menlo, Monaco, monospace !important;
	font-weight: bold;
}
.verbose {
	color: #444444;
	background-color: #f8f8f8;
	font-size: 11px;
	font-family : Consolas, Menlo, Monaco, monospace !important;
}
.data {
	color: #444444;
	background-color: #f8f8f8;
	font-family : Consolas, Menlo, Monaco, monospace !important;
}
.gwt-TextArea {
	color: #888888;
	font-family : monospace !important;
	font-size: 8px !important;
	overflow:auto; 
}
.logo{
}
.ui_buttons {
	text-align: center;
}
pre {
  background-color: #eeeeee;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px;
  font-size: 12px !important;
  font-family : Consolas, Menlo, Monaco, monospace !important;
}
.native {
	background-color: #e0e0ff;
	color: #444488;
}
.button{
  background-color: #6666ff;
  border: none;
  color: #aaaaff;
  padding: 2px 12px;
  border: none;
  border-color: #ff0000;
  /*border-radius: 12px 12px 12px 12px ;*/
  
  font-family: "Fira Sans", Verdana, Geneva, sans-serif;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 6px #ccc;
        margin:5px;
}
.button:hover {
  background-color: #7777ff;
}
.button:active {
  background-color: #8888dd;
  box-shadow: 0 3px #ccc;
  transform: translateY(3px);
}
.button img {
    opacity: 0.8;
}
body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   line-height: 1.5;
}
.doc {
   font-family: "Fira Sans", Verdana, Geneva, sans-serif;
   font-size: 14px !important;
   margin: 0px;
   padding: 0px;
}
h1, h2, h3, h4, h5, h6 
{
	margin-top: 30px;
}


