.code {
	color: #4444aa;
	background-color: #ffffff;
	font-family : courier, monospace;
}
.output {
	color: #44aa44;
	background-color: #f8f8f8;
	font-family : courier, monospace;
}
.verbose {
	color: #444444;
	background-color: #f8f8f8;
	font-family : courier, monospace;
}
.data {
	color: #444444;
	background-color: #f8f8f8;
	font-family : courier, monospace;
}
.gwt-TextArea {
	color: #888888;
	font-family : courier, monospace;
	
	overflow:auto; 
}
body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}


